/* COLOUR PALETTE: 
Light grey     -      #f0f0f0;
Grey           -      #757575;
Light pink     -      #e0aab9;
White          -      #FFFFFF;
Dark Green     -      #394f4c;

BUTTONS: 
Background color      #394f4c;
Text color            #FFFFFF;
------------------------------------------ */




/* NAVIGATION: --------------------------- */
.navigation{
    border-bottom: 1px solid #f0f0f0;
    padding: 40px 0px 30px 0px;
}

.main-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#logo{
    max-width: 220px;
}

.breadcrumb{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}




/* End of Navigation: -------------------- */



/* BREADCRUMB: --------------------------- */
.breadcrumb{
    font-weight: 300;
    font-size: 13px;
    color: #757575;
}

.link__home{
    border-bottom: 1px solid #757575;
    font-weight: 300;
    font-size: 13px;
    color: #757575;
}

.link__home:hover{
    border-bottom: 0px;
}

.fa-home{
    color: #757575;
}
/* End of Breadcrumb --------------------- */



/* BASKET: ------------------------------- */
.fa-shopping-basket{
    padding: 0px 25px 0px 100px;
}

.basket{
    justify-self: end;
}



/* SEARCH: ------------------------------- */
.search{
    margin-right: 25px;
    justify-self: end;
    background-color: #f0f0f0;
    margin-bottom: 50px;
    border-top: 1px solid #394f4c;
}

.fa-search{
    color: #757575;
    padding: 0px 15px;
}

#search-box{
    background-color: transparent;
    border: 0px;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 160px;
}

#search-box:focus, input:focus{
    outline: none;
}

.search:focus{
    border: 1px solid #394f4c;
}
