/* STYLE GUIDE */
/* Colour Palette: 
Footer #f0f0f0;

Call-to-action button on home page
#e0aab9

Buttons 
Background color #394f4c
Text color #FFFFFF
Alternative button background color #e0aab9


------------------------------------------ */






/* Font  
------------------------------------------ */



/* --------------------------------------- */



body{
    margin: 0;
    padding: 0;
}

a{
    color: #000000;
    text-decoration: none;
}




/* NAVIGATION: --------------------------- */

/* End of Navigation: -------------------- */



/* HEADER: ------------------------------- */
.headline{
    text-transform: capitalize;
    font-size: 30px;
}
/* End of header: ------------------------ */



/* PRODUCTS: ----------------------------- */
.products-container{
    display: grid;
    grid-gap: 1em;
}

.single-product{
    background-color: lightgrey;
    
}
/* End of Products: ---------------------- */



/* FOOTER: ------------------------------- */

/* End of Footer: ------------------------ */